{% extends "base.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<body class="bg-gray-100 h-screen">
  <div class="grow flex justify-center items-center px-4">
    <div class="w-full max-w-md bg-white shadow-md rounded-lg p-8 space-y-3 mt-10">
        <div class="text-left mt-10">
            <h2 class="text-2xl font-bold text-gray-800 ">Redefinir senha</h2>
            <p class="text-sm text-gray-600 mt-1">Esqueceu sua senha? Digite seu endereço de e-mail abaixo e enviaremos um e-mail permitindo que você o redefina.</p>
        </div>

        <form method="post" action="{% url 'account_reset_password' %}" class="space-y-4">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="text-red-600 text-sm">
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <div>
            <label for="id_email" class="block text-sm font-medium text-gray-700">E-mail</label>
            <input type="email" name="email" id="id_email" placeholder="Digite seu e-mail"
                    class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-100 focus:outline-none"
                    required>
            {% if form.email.errors %}
                <p class="text-sm text-red-600 mt-1">{{ form.email.errors.0 }}</p>
            {% endif %}
            </div>

            <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md transition cursor-pointer">
            Enviar link de recuperação
            </button>
        </form>

        <div class="text-center text-sm text-gray-600 mt-4">
            <a href="{% url 'account_login' %}" class="text-blue-600 hover:underline">Voltar para o login</a>
        </div>
    </div>
  </div>
</body>
{% endblock content %}
