{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="bg-gray-100 h-screen">
    {% if token_fail %}
    <h1 class="text-blue-950 font-bold text-4xl py-10 md:py-20 text-center">{% trans "Bad Token" %}</h1>
    {% else %}
    <h1 class="text-2xl font-bold text-gray-800 text-center pt-10 pb-5">Redefinir Senha:</h1>
    {% endif %}

    <div class="border border-gray-200 shadow-md p-4 rounded-xl w-11/12 md:w-96 bg-white mx-auto">
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="text-center font-bold">O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma <a href="{{ passwd_reset_url }}">nova redefinição de senha</a>.</p>
        {% else %}
        <p class="text-center font-bold">Definir nova senha:</p>
        <form action="." method="POST" id="change_password">
            {% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="text-red-500 text-sm font-semibold">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <p class="text-red-500 text-sm font-semibold">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <div>
                <label for="password1" class="text-sm font-semibold text-gray-600">Nova Senha</label>
                <input type="password" name="password1" id="password1" class="rounded border-gray-200 w-full block border px-3 py-2 bg-white focus:outline-blue-700" placeholder="Nova Senha">
            </div>

            <div>
                <label for="password2" class="text-sm font-semibold text-gray-600">Nova Senha (novamente)</label>
                <input type="password" name="password2" id="password2" class="rounded border-gray-200 w-full block border px-3 py-2 bg-white focus:outline-blue-700" placeholder="Nova Senha Novamente"  >
            </div>

            <div class="flex items-center justify-center mt-5">
                <button type="submit" class="rounded bg-blue-600 text-white font-semibold hover:bg-blue-700 transition duration-200 w-1/2 h-9 cursor-pointer">Redefinir</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}
