{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<body class="bg-gray-100 h-screen">
  <div class="flex justify-center items-center px-4 mt-20">
    <div class="w-full max-w-xl bg-white shadow-md rounded-lg p-10 space-y-6">
      
      <div class="text-left">
        <h2 class="text-2xl font-bold text-gray-800">Redefinição de Senha</h2>
        <p class="text-sm text-gray-600 mt-1">
          Enviamos um e-mail para você. Caso não tenha recebido, verifique sua caixa de spam. Caso contrário, entre em contato conosco se não o receber em alguns minutos.
        </p>
      </div>

      {% if token_fail %}
        <p class="text-red-600 text-center">O link de redefinição de senha é inválido ou expirou.</p>
      {% else %}
        <a href="/" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md transition cursor-pointer">
            Voltar
        </a>
        
      {% endif %}
    </div>
  </div>
</body>
{% endblock content %}
